coinspot-tutorial/part05/flows.json
[{"id":"af28ba49.95b868","type":"tab","label":"Send Latest Crypto Alert","disabled":false,"info":""},{"id":"5998bbac.334014","type":"http in","z":"af28ba49.95b868","name":"Wait to Send Crypto Alert","url":"/sendCryptoAlert","method":"get","upload":false,"swaggerDoc":"","x":170,"y":180,"wires":[["9980c54e.b4c588"]]},{"id":"9980c54e.b4c588","type":"file in","z":"af28ba49.95b868","name":"Read Coin Output File","filename":"C:\\\\Users\\\\steven\\\\Desktop\\\\uivision\\\\datasources\\\\CoinOutput.csv","format":"","chunk":false,"sendError":false,"encoding":"none","x":380,"y":280,"wires":[["a5063aca.9741c8"]]},{"id":"a5063aca.9741c8","type":"change","z":"af28ba49.95b868","name":"Set Email Details","rules":[{"t":"set","p":"topic","pt":"msg","to":"Crypto Alert","tot":"str"},{"t":"set","p":"description","pt":"msg","to":"Here is the latest CoinsOutput.csv file.","tot":"str"},{"t":"set","p":"filename","pt":"msg","to":"CoinOutput.csv","tot":"str"},{"t":"set","p":"from","pt":"msg","to":"Crypto Alert","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":200,"wires":[["2c959567.395f5a","3c59aa3a.d65486"]]},{"id":"2c959567.395f5a","type":"e-mail","z":"af28ba49.95b868","server":"mail.stevenckwong.com","port":"465","secure":true,"tls":true,"name":"steven@stevenckwong.com","dname":"Send Crypto Alert","x":850,"y":140,"wires":[]},{"id":"e388d745.c4fb58","type":"file","z":"af28ba49.95b868","name":"Delete Coin Output File","filename":"C:\\\\Users\\\\steven\\\\Desktop\\\\uivision\\\\datasources\\\\CoinOutput.csv","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":710,"y":400,"wires":[["ca6e9c8a.5e9d4"]]},{"id":"3c59aa3a.d65486","type":"delay","z":"af28ba49.95b868","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":320,"wires":[["e388d745.c4fb58"]]},{"id":"7a2fe966.4fa888","type":"http response","z":"af28ba49.95b868","name":"Response","statusCode":"","headers":{},"x":800,"y":500,"wires":[]},{"id":"ca6e9c8a.5e9d4","type":"function","z":"af28ba49.95b868","name":"Format HTML","func":"var newpayload;\n\nnewpayload = \"<html><body><code>\"+msg.payload+\"</code></body></html>\";\nnewpayload = newpayload.replace(/(?:\\r\\n|\\r|\\n)/g, '<br>');\nmsg.payload = newpayload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":500,"wires":[["7a2fe966.4fa888"]]}]